[submodule "frontend"]
	path = frontend
	url = https://github.com/sornapriyakannan/MultiModuleRepo_Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/sornapriyakannan/MultiModuleRepo_Backend.git
